.paddingWrap {
padding: 10px;
box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
}

#nav_div
{
    width:285px;
    color:#333;
    font-size:12px;
}

#nav_div a
{
    cursor:pointer;
}

#nav_div table
{
    border:none;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0;
}

#nav_div table th
{
    padding: 2px 5px;
    color:#FFF;
    background: #6199DF;
}

#nav_div table td
{
    font-size:10px;
    padding: 2px 5px;
}
#nav_div [name=poiname],[name=poiId]
{
    width:110px !important;
    padding:1px;
}
#nav_div [name=page]
{
    width:30px;
    padding:1px;
}
#nav_div [name=len]
{
    width:30px;
    padding:1px;
}
/*=========================================*/


/*===========================*/

.topicItem
{
    margin-bottom:20px;
}

.topicImage
{
    padding:5px;
    background-color: #FFF;
    width:70px;
    height:70px;
    float:left;
    box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
}
.topicItemRight
{
    padding:10px;
    background-color: #FFF;
    /*border-top:solid 1px rgb(50,151,253);
    box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;*/
}

.smallFont
{
    font-size:12px;
}

.resourceImage+.bigResourceImage
{
    position: absolute;
    display: none;
}

.resourceImage:hover+.bigResourceImage
{
    position: absolute;
    display: block;
}