


/*===========================*/


.resourceImage+.bigResourceImage
{
    position: absolute;
    display: none;
}

.resourceImage:hover+.bigResourceImage
{
    position: absolute;
    z-index:10000;
    display: block;
}

.resolution
{
    background-color:white;
    position: absolute;
}