


/*===========================*/


.resourceImage+.bigResourceImage
{
    position: absolute;
    display: none;
}

.resourceImage:hover+.bigResourceImage
{
    position: absolute;
    z-index:10000;
    display: block;
}

.resolution
{
    background-color:white;
    position: absolute;
}

.edit-mode
{
    height: 70px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.edit-mode-item
{
    float:left;
    height:100%;
    width: 50%;
    background-color: rgb(86,61,124);
    line-height: 70px;
    cursor: pointer;
}

.edit-mode-item.selected
{
    background-color: rgb(70,50,101);
}

.review-status
{
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.review-status-item
{
    float:left;
    height:100%;
    width: 33.33%;
    background-color: rgb(120,81,144);
    line-height: 40px;
}


label:hover
{
    cursor: pointer;
}
/*=-====----==-=-=-==*/

.batch-operation
{
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.batch-operation-item
{
    float:left;
    height:100%;
    width: 33.33%;
    background-color: rgb(140, 101, 164);
    line-height: 40px;
    cursor: pointer;
}


.batch-operation-save
{
    float:left;
    height:100%;
    width: 100%;
    background-color: rgb(140, 101, 164);
    line-height: 40px;
    cursor: pointer;
}

.batch-operation-item:hover,.batch-operation-save:hover
{
    background-color: rgb(120,81,144);
}


.rejectItem
{
    position: relative;
}

.rejectReason
{
    position: absolute;
    display: none;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 236px;
    padding: 8px;
    z-index: 1000;

}

.rejectItem:hover
.rejectReason
{
    display: block;
}


.container
{
    position: relative;
}
.supportedWebsite
{
    left: -150px;

    background-color: #FFF;
    width: 110px;
    position: absolute;
    padding: 10px;
}

.supportedWebsite a
{
    display: block;
}
