[name="mongo"],.mongo
{
    font-family: monospace;
}

.scroll2Top
{
	width:50px;
	height:50px;
	background-image: url('/static/img/btt.png');
	background-position:8px 12px;
	background-repeat:no-repeat;
	position:fixed;
	bottom:100px;
	right:100px;
	background-color: #000;
	cursor:pointer;
	border-radius:5px;
}

.paddingWrap {
padding: 10px;
box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
}


body{
    background-image: url('/static/img/bg.jpg');
    background-attachment : fixed;
    background-position: center 0;
    background-size: cover;
}

.dropdown-menu
{
    margin-top:-3px;
}

/*======================*/

.octicon {
font: normal normal 16px octicons;
line-height: 1;
display: inline-block;
text-decoration: none;
-webkit-font-smoothing: antialiased;
}

.octicon-check:before
{
    content: '√';
}

.hidden
{
    display: none;
}



.element
{
    color: #3A87AD;
    background-color: #F5F5F5;
    border-color: #BCE8F1;
    padding: 8px 35px 8px 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    position:relative;
}


.element:hover .elementToolbar
{
    display:block;
    position:absolute;
}

.elementToolbar
{
    display:none;
    position:absolute;
    right:0px;
    top:-20px;
    float:right;
}


.hoverHighLight:hover
{
    background-color: #F0F0F0;
}

/*======================================*/
.topicItem
{
    margin-bottom:20px;
}

.topicImage label
{
    text-align: middle;
}

.topicImage
{
    padding:5px;
    background-color: #FFF;
    width:70px;
    height:70px;
    float:left;
    box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 5px 0px;
    border-radius: 5px;
    overflow: hidden;
}
.topicImage img
{
    border-radius: 5px;
}
.topicItemRight
{
    padding-left:10px;
    padding-bottom:10px;
    background-color: #FFF;
    /*border-top:solid 1px rgb(50,151,253);
    box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;*/
}

.smallFont
{
    font-size:12px;
}


/*================================*/
.paddingWrap {
padding: 10px;
box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
}

#nav_div
{
    width:285px;
    color:#333;
    font-size:12px;
}

#nav_div a
{
    cursor:pointer;
}

#nav_div table
{
    border:none;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0;
}

#nav_div table th
{
    padding: 2px 5px;
    color:#FFF;
    background: #6199DF;
}

#nav_div table td
{
    font-size:10px;
    padding: 2px 5px;
}
#nav_div [name=poiname],[name=poiId]
{
    width:110px !important;
    padding:1px;
}
#nav_div [name=page]
{
    width:30px;
    padding:1px;
}
#nav_div [name=len]
{
    width:30px;
    padding:1px;
}