body
{
    font-family: monospace;
}

.scroll2Top
{
	width:50px;
	height:50px;
	background-image: url('/static/img/btt.png');
	background-position:8px 12px;
	background-repeat:no-repeat;
	position:fixed;
	bottom:100px;
	right:100px;
	background-color: #000;
	cursor:pointer;
	border-radius:5px;
}

.paddingWrap {
padding: 10px;
box-shadow: white 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
}


body{
    background-image: url('/static/img/bg.jpg');
    background-attachment : fixed;
    background-position: center 0;
    background-size: cover;
}

.dropdown-menu
{
    margin-top:-3px;
}

/*======================*/

.octicon {
font: normal normal 16px octicons;
line-height: 1;
display: inline-block;
text-decoration: none;
-webkit-font-smoothing: antialiased;
}

.octicon-check:before
{
    content: '√';
}

.hidden
{
    display: none;
}



.element
{
    color: #3A87AD;
    background-color: #F5F5F5;
    border-color: #BCE8F1;
    padding: 8px 35px 8px 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    position:relative;
}


.element:hover .elementToolbar
{
    display:block;
    position:absolute;
}

.elementToolbar
{
    display:none;
    position:absolute;
    right:0px;
    top:-20px;
    float:right;
}


.hoverHighLight:hover
{
    background-color: #F0F0F0;
}