#nav table
{
    width: 100%;
}

.date 
{
    display: inline-block;
}

#nav 
{
    
}

#nav span
{
    line-height: 42px;
}

#content
{
    min-height: 500px;
    min-width: 1440px;
    overflow: visible;
}


#content td
{
    font-size: 10px;
    padding: 4px 10px;
    border: 1px solid #BBB;
}