<div class="searchChannel">
    <div>
        <input id="searchKeyword" type="text" class="input-xlarge" />
        <a  class="btn btn-primary" onclick="searchChannel()" >搜索</a>
    </div>
    <div>
        <table>
            <tr id="SearchResultRow" class="hidden">
                <td>
                    <span class="searchChannel_Id"></span>
                    <a href="" class="searchChannel_Name"></a>
                </td>
                <td>
                    <a class="btn btn-mini searchChannel_select" onclick="select(this)">选择</a>
                </td>
            </tr>
        </table>
    </div>
</div>