<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于</title>
<link href="/static/css/tagUpdate.css" rel="stylesheet"
	type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />

<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
</head>

<body style="background-color: #CCC;">
	{% include "nav.htm" %}
	<div class="container">
		{% ifnotequal info "" %}
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="alert {{info_class}}">{{info|safe}}</div>
			</div>
		</div>
		{%endifnotequal%}
		<div class="row-fluid smallFont">
			<!--  左部分  -->
			<div class="span12 whitepanel">
                <h1>更新日志</h1>
                <p>
                    <b>2014-1-18</b><br/>
                    1.更新频道统计，统计近期新增视频及观看量，使用图表显示结果<br/>
                    <br/>
                    <b>2014-2-17</b><br/>
                    1.优化频道，视频列表页显示，隐藏信息简化页面<br/>
                    2.频道列表增加来源显示<br/>
                    <br/>
                    <b>2014-1-16</b><br/>
                    1.增加消息标记功能<br/>
                    <br/>
                    <b>2013-12-11</b><br/>
                    1.视频页监测URL 如果重复会提醒<br/>
                    <br/>
                    <b>2013-12-10</b><br/>
                    1.增加消息系统<br/>
                    <br/>
                    <b>2013-12-9</b><br/>
                    1.增加 视频页“推荐到Feed” 选项<br/>
                    <br/>
                    <b>2013-11-14</b><br/>
                    1.增加搜索统计<br/>
                    <br/>
                    <b>2013-11-14</b><br/>
                    1.增加resource画质字段<br/>
                    2.category的首订字段<br/>
                    3.增加定时push功能<br/>
                    <br/>
                    <b>2013-11-11</b><br/>
                    1.集成Push推送功能<br/>
                    <br/>
                    <b>2013-11-6</b><br/>
                    1.增加频道订阅统计<br/>
                    <br/>
                    <b>2013-10-29</b><br/>
                    1.视频增加updateTime排序<br/>
                    2.修正视频上线updateTime为0视频<br/>
                    3.增加视频页 是否在线开关 <br/>
                    <b>（重要）4.增加预览功能</b><br/>
                    <b>（重要）5.增加从 剪切板获取 截图，快速更新功能</b><br/>
                    <br/>
                    <b>2013-10-28</b><br/>
                    1.修正修改视频页面没有菜单的bug<br/>
                    2.增加所有页面的权限要求<br/>
                    3.视频首页优化时间显示<br/>
                    4.增加视频详情页的 updateTime字段<br/>
                    5.修正时区错误的bug<br/>

                </p>

                <h1>说明</h1>
                <ul>
                    <li>为保证所有功能正常使用，请使用Chrome等webkit核心浏览器</li>
                </ul>

                <h1>反馈</h1>
                <ul>
                    <a href="mailto:dingyaguang117@gmail.com">dingyaguang117@gmail.com</a>
                </ul>
			</div>

			<!--  右部分  -->
			<div class="span3">

			</div>
		</div>
	</div>
</body>
</html>
