<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>频道列表</title>
<link href="/static/css/channelList.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />


<script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/channelList.js"></script>


</head>
<body style="background-color:#CCC;">
    {% include "nav.htm" %}
    <div class="container">
        <div class="row-fluid">
            <div class="span8 paddingWrap" style="background-color:#FFF;">
			            {%for channel in channelList%}
			            <div class="row-fluid topicItem">
		                    <div class="topicImage">
		                    	<div style="position:absolute;">
		                    		<span class="label label-info">{{channel.sourceWebsite}}</span>
		                    		{%if channel.autoSub%}<span class="label label-warning">首订</span>{%endif%}
		                    		{%ifequal channel.searchStatus "error" %}
		                    			<a class="label label-warning" title="{{channel.searchMsg}}">更新错误</a>
		                    		{%endifequal%}
		                    		
		                    	</div>
		                        <img src="{{channel.channelImageUrl}}" />
		                    </div>
		                    <div class="span10 topicItemRight">
		                        <div class="row-fluid">
		                        	<span>{{channel.channelId}}</span>
		                            <a  href="/resource/index?channelId={{channel.channelId}}">{{channel.channelName}}</a>
		                            
		                            <span class="label label-info">{{channel.tvNumber}}集/{{channel.channelType}}/权{{channel.weight}}/订{{channel.subscribeNum}}</span>
                                    {% if channel.processed %}
                                        <a channelId="{{channel.channelId}}" class="label label-info" onclick="toggleProcessed(this)">在线</a>
                                    {% else %}
                                        <a channelId="{{channel.channelId}}" class="label" onclick="toggleProcessed(this)">下线</a>
                                    {% endif %}

		                            {% if channel.isNewest %}
		                            <span class="label label-warning">最新</span>
		                            {% endif %}
		                            {% ifequal channel.identifer 1 %}
		                            <span class="label label-warning">独播</span>
		                            {% endifequal %}
		                            {% ifequal channel.identifer 2 %}
		                            <span class="label label-warning">最新-</span>
		                            {% endifequal %}

                                    {% if channel.isRecommend%}
		                            <a channelId="{{channel.channelId}}" class="label label-warning" onclick="toggleRec(this)">已荐</a>
		                            {% else %}
		                            <a channelId="{{channel.channelId}}" class="label"  onclick="toggleRec(this)">未荐</a>
		                        	{% endif %}
                                    <a class="label label-warning"  target="_blank" href="showJson?id={{channel.id}}">JSON</a>

		                            <a href="detail?id={{channel.id}}" class="label label-warning">详情</a>
		                            <a href="update?id={{channel.id}}" class="label label-warning">编辑</a>

                                    <!-- 操作下拉菜单 -->
                                    <div class="btn-group" style="display: inline-block;">
                                        <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">操作<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a onclick="updateNow({{channel.channelId}})">立即更新</a></li>
                                            <li><a  onclick="resetWeight({{channel.channelId}})" >重置权重</a></li>
                                            <li><a onclick="setCompleted({{channel.channelId}})" >设置完结</a></li>
                                            {%ifequal username "admin"%}
                                                <li><a  onclick="deleteAllResource({{channel.channelId}})">删除所属视频</a></li>
                                                <li><a onclick="deleteChannel({{channel.channelId}})">删除</a></li>
                                                <li><a  onclick="pushChannel({{channel.channelId}},'{{channel.channelName}}')">Push</a></li>
                                            {%endifequal%}
                                            <li>

                                            </li>
                                        </ul>
                                    </div>
		                        </div>
		                        <ul class="nav nav-tabs" style="margin-top: 10px;">
                                  <li class="active"><a href="#{{ channel.channelId }}_1" data-toggle="tab">时间</a></li>
                                  {% if channel.hasSearchSource  %}
                                    <li><a href="#{{ channel.channelId }}_2" data-toggle="tab">更新源</a></li>
                                  {% endif %}
                                  <li><a href="#{{ channel.channelId }}_3" data-toggle="tab">其他</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="{{ channel.channelId }}_1">
                                        <!-- <div class="row-fluid smallFont">
                                            <div class="span6">创建时间：{{channel.createTime}}</div>
                                            <div class="span6">修改时间：{{channel.modifyTime}}</div>
                                        </div> -->
                                        <div class="row-fluid smallFont">
                                            <div class="span6">更新时间：{{channel.updateTime}}</div>
                                            <div class="span6">下次时间：{{channel.nextSearchTime}}</div>
                                        </div>
                                        <div class="row-fluid smallFont">
                                            <div class="span6">扫描时间：{{channel.searchTime}}</div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="{{ channel.channelId }}_2">
                                        <table class="table table-hover">
                                        {%for sourceSearch in channel.sourceSearchList%}
                                            <tr>
                                                <td>{{ sourceSearch.1 }}</td>
                                                <td><a href="{{ sourceSearch.0 }}"> {{sourceSearch.0|slice:"50" }}</a></td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="{{ channel.channelId }}_3">
                                        <i class="icon-info-sign"></i><a href="/statistics2/channel?channelIdList={{ channel.channelId }}">频道日志统计</a>
                                    </div>
                                </div>


		                    </div>
		                </div>
			            {%endfor%}
			</div>
			
			<div class="span4 paddingWrap" style="background-color:#FFF;">
                <form id="form_nav">
                    <div id="nav_div">
                    <table>
                    	<tr>
                            <td>ObjectId</td>
                            <td><input name="id" type="text" style="width:110px" value="{{id}}"/></td>
                        </tr>
                        <tr>
                            <td>频道名称</td>
                            <td><input name="name" type="text" style="width:110px" value="{{name}}"/></td>
                            <td rowspan="3"><input class="btn btn-inverse btn-mini" type="submit" value="搜索" /></td>
                        </tr>
                        <tr>
                            <td>频道ID</td>
                            <td><input name="channelId" type="text" style="width:110px" value="{{channelId}}"/></td>
                        </tr>
                        <tr>
                            <td>类别</td>
                            <td>
                                <select name="channelType"  style="width:110px">
                                {%for one in typeList%}
                                    <option {%ifequal one channelType %}selected{%endifequal%}>{{one}}</option>
                                {%endfor%}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>状态</td>
                            <td>
                             	<input id="processed1" type="radio" name="processed" value=""  {%ifequal processed "" %}checked="checked" {%endifequal%}/>All
                             	<input id="processed2" type="radio" name="processed" value="true" {%ifequal processed "true" %}checked="checked" {%endifequal%}/>已处理
                                <input id="processed3" type="radio" name="processed" value="false" {%ifequal processed "false" %}checked="checked" {%endifequal%}/>未处理
                            </td>
                        </tr>
                        <tr>
                            <td>mongo</td>
                            <td><textarea name="mongo" type="text" style="width:110px;height:110px;">{{mongo}}</textarea></td>
                        </tr>
                        <tr>
                            <td>排序</td>
                            <td>
                             	<input type="radio" name="sort" value="createTime"  {%ifequal sort "createTime" %}checked="checked" {%endifequal%}/>创建时间
                             	<input type="radio" name="sort" value="modifyTime" {%ifequal sort "modifyTime" %}checked="checked" {%endifequal%}/>修改时间
                             	<br/>
                             	<input type="radio" name="sort" value="updateTime" {%ifequal sort "updateTime" %}checked="checked" {%endifequal%}/>更新时间
                             	<input type="radio" name="sort" value="weight" {%ifequal sort "weight" %}checked="checked" {%endifequal%}/>权重
                                <br/>
                                <input type="radio" name="sort" value="subscribeNum" {%ifequal sort "subscribeNum" %}checked="checked" {%endifequal%}/>订阅数
                            </td>
                        </tr>
                        <tr>
                            <td>第<input type="text" name="page" value="{{page}}"/>页</td>
                            <td>每页<input type="text" name="len" value="{{len}}"/>条/({{findNum}})</td>
                            <td><input class="btn btn-inverse btn-mini" type="submit" value="转到"/></td>
                        </tr>
                        <tr>
                            <td><a onclick="goPage(1)" >首页</a></td>
                            <td><a onclick="goPage({{prePage}})">上一页</a></td>
                            <td><a onclick="goPage({{nextPage}})">下一页</a></td>
                        </tr>
                    </table>
                    </div>
              </form>
            </div>
		</div>
	</div>

<!-- Modal -->
<form action="/channel/pushChannel" onsubmit="onPushSubmit();">
    <div id="pushModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">发送Push</h3>
      </div>
      <div class="modal-body">
        <p>频道：<span id="pushChannelName"></span></p>
        <input name="pushChannelId" type="text" />
        <p>内容:</p>
        <input name="pushTitle" type="text" style="width: 350px;"/><br/>
        <textarea name="pushContent" style="width: 350px;height: 120px;"></textarea><br/>

        <div id="datetimepicker1" class="input-append">
            定时发送:
            <input data-format="yyyy/MM/dd hh:mm:ss" name="cronTime" type="text" />
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>(立即发送请留空)
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button id="pushSubmitButtom" class="btn btn-primary">发送</button>
      </div>
    </div>
</form>
</body>
</html>
