<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>消息</title>
<link href="/static/css/tagUpdate.css" rel="stylesheet"
	type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/message.css" rel="stylesheet" type="text/css" />

<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
</head>

{% load formatHumanTime %}

<body style="background-color: #CCC;">
	{% include "nav.htm" %}
	<div class="container" style="background-color: #FFF;padding-top: 30px;min-height: 500px;">
		{% if info %}
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="alert {{info_class}}">{{info|safe}}</div>
			</div>
		</div>
		{%endif%}
		<div class="row-fluid">
			<div class="span3">
                <ul class="nav-left">
                    <li {% ifequal request.path '/message' %}class="active" {% endifequal %}>
                        <a href="/message">未读 <span class="badge badge-warning">{{ unreadMessageNum }}</span>
                        </a>
                    </li>
                    <li {% ifequal request.path '/message/readed' %}class="active" {% endifequal %} >
                        <a href="/message/readed">已读<span class="badge">{{ readedMessageNum }}</span>
                        </a>
                    </li>
                    <li {% ifequal request.path '/message/all' %}class="active" {% endifequal %}>
                        <a href="/message/all">全部<span class="badge">{{ allMessageNum }}</span>
                        </a>
                    </li>
                </ul>
			</div>
            <div class="span8 offset1">
                {% for one in result %}
                    <div class="row hoverHighLight">
                        <div class="span10">
                            <blockquote>
                              <p>{{ one.title }} <span style="font-size: 9px;color: #CCC;">{{ one.createTime|formatHumanTime }}</span></p>
                              <small><span class="badge badge-warning">{{ one.extras.num }}</span> {{ one.content|safe }}</small>
                            </blockquote>
                        </div>
                        <div class="span2">
                            <a href="/message/flagRead?id={{ one.id }}" ><i style="margin-top: 20px;" class="icon-ok"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
		</div>
	</div>
</body>
</html>
