<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加BT任务</title>
<link href="/static/css/tagUpdate.css" rel="stylesheet"
	type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />

<script src="/static/js/jquery-1.7.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/resourceUpdate.js"></script>
</head>

<body style="background-color: #CCC;">
	{% include "nav.htm" %}
	<div class="container">
		{% ifnotequal info "" %}
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="alert {{info_class}}">{{info|safe}}</div>
			</div>
		</div>
		{%endifnotequal%}
		<div class="row-fluid smallFont">
			<!--  左部分  -->
			<div class="span8 offset2 whitepanel">
				<form class="form-horizontal baseinfo" method="post" enctype="multipart/form-data"
					onsubmit="return onSubmit()">
					<!-- 左基本 -->
					<div class="row-fluid">
						<input type="hidden" name="id" value="{{id}}" />
						<table class="mainTable">
							<tr>
								<td style="width: 100px">资源名称</td>
								<td><input type="text" class="input-xlarge" name="resourceName"
									value="{{resourceName}}" /></td>
							</tr>
							<tr>
                                <td style="width: 100px">种子文件</td>
                                <td><input type="file" class="input-xlarge" name="btFile"/></td>
                            </tr>
							<tr>
                                <td style="width: 100px">videoType</td>
                                <td><input type="text" class="input-xlarge" name="videoType"
                                    value="torrent" /></td>
                            </tr>
                            <tr>
                                <td style="width: 100px">videoId</td>
                                <td><input type="text" class="input-xlarge" name="videoId"
                                    value="{{videoId}}" /></td>
                            </tr>
							
							<tr>
                                <td style="width: 100px">频道ID</td>
                                <td><input type="text" class="input-xlarge" name="channelId"
                                    value="{{channelId}}" /></td>
                            </tr>
                            <tr>
                                <td style="width: 100px">资源标签</td>
                                <td>
                                    <textarea name="tagList">{{tagList}}</textarea>
                                </td>
                            </tr>
							<tr>
								<td>发布时间</td>
								<td>
									<div class="input-append">
										<input type="text" class="span10" name="createTime"
											value="{{createTime}}" />
										<!--  <a class="btn btn-primary active" data-toggle="button" onclick="toggleCreateTime(this)">使用当前时间</a> -->
									</div>
								</td>
							</tr>
							<tr>
								<td>修改时间</td>
								<td>{{modifyTime}} <!-- <input type="text" class="span7" name="modifyTime"  value="{{modifyTime}}" disabled/> -->
								</td>
							</tr>

						</table>
					</div>
					<!-- 左正文 -->
					
					<!-- 左保存 -->
					<div class="row-fluid">
						<div class="span12">
							<div class="form-actions">

								<button type="submit" class="btn btn-primary">
								{%if update%}保存更改{%else%}创建新资源{%endif%}
								</button>
								<button class="btn">取消</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!--  右部分  -->
			<div class="span3">
				
			</div>
		</div>
	</div>
</body>
</html>
