<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{title}}  资源列表</title>
<link href="/static/css/channelList.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icheck-square/purple.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icheck-square/aero.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icheck-square/blue.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icheck-square/red.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icheck-square/green.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />


<script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
<script src="/static/js/icheck.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/resourceList.js"></script>

<script type="text/javascript">
    var singleReview = {% if singleReview %}true{% else %}false{% endif %};
    {% if review and not singleReview %}
        window.onbeforeunload = function()
        {
             return "是否需要保存？";
        };
    {% endif %}
</script>
</head>
<body style="background-color:#CCC;">
    {% include "nav.htm" %}
    <div class="container">
        <div class="supportedWebsite">
             <a target="_blank" href="http://www.youku.com">优酷</a>
             <a target="_blank" href="http://www.iqiyi.com">爱奇艺</a>
             <a target="_blank" href="http://www.letv.com">乐视</a>
             <a target="_blank" href="http://www.56.com">56</a>
             <a target="_blank" href="http://www.funshion.com">风行</a>
             <a target="_blank" href="http://v.163.com">网易</a>
             <a target="_blank" href="http://www.aipai.com">爱拍</a>
             <a target="_blank" href="http://v.ifeng.com">凤凰</a>
             <a target="_blank" href="http://v.qq.com">腾讯</a>
             <a target="_blank" href="http://yinyuetai.com">音悦台</a>
             <a target="_blank" href="http://video.sina.com.cn">新浪</a>
             <a target="_blank" href="http://tv.sohu.com">搜狐</a>
             <a target="_blank" href="http://www.boosj.com">播视</a>
             <a target="_blank" href="http://baomihua.com">爆米花</a>
             <a target="_blank" href="http://wasu.cn">华数TV</a>
             <a target="_blank" href="http://acfun.tv">ACFUN</a>
             <a target="_blank" href="http://www.v1.cn">第一视频</a>
             <a target="_blank" href="http://www.ku6.com">酷6</a>
             <a target="_blank" href="http://www.kankanews.com/">kankannews</a>
             <a target="_blank" href="http://tv.cntv.cn/">cntv</a>
             <a target="_blank" href="http://xiyou.cntv.cn/">爱西柚</a>
             <a target="_blank" href="http://mtime.com/">时光网</a>
             <a target="_blank" href="http://www.m1905.com/video/">电影网</a>
        </div>

        <div class="row-fluid">
            {% include "_resourceListItem.htm" %}

			<div class="span4" >
                <form id="form_nav">

                <!----------------  审核菜单 ----------------->
                {% ifequal role "admin"%}
                <div class="edit-mode">
                    <div class="edit-mode-item {% if not review %}selected{% endif %}" onclick="changeReviewMode('')" >
                        普通模式
                    </div>
                    <div class="edit-mode-item {% if review %}selected{% endif %}" onclick="changeReviewMode('待审核')">
                        审核模式
                    </div>
                </div>

                {% if review %}
                <div class="review-status">
                    <div class="review-status-item " >
                        <input id="onReview" type="radio" name="_rr" value="待审核"  {% ifequal review "待审核" %} checked="checked"{% endifequal %}  /> &nbsp;
                        <label for="onReview" >待审核</label>
                    </div>
                    <div class="review-status-item" >
                        <input id="ReviewReject" type="radio" name="_rr" value="审核悲剧" {% ifequal review "审核悲剧" %} checked="checked"{% endifequal %} />&nbsp;
                        <label for="ReviewReject">审核悲剧</label>
                    </div>
                    <div class="review-status-item" >
                        <input id="onReviewAgain" type="radio" name="_rr" value="二审" {% ifequal review "二审" %} checked="checked"{% endifequal %} />&nbsp;
                        <label for="onReviewAgain">二审</label>
                    </div>
                </div>
                {% if not singleReview %}
                <div class="batch-operation">
                    <div class="batch-operation-item" onclick="pendAll()">
                        全部待审
                    </div>
                    <div class="batch-operation-item" onclick="acceptAll()">
                        全部通过
                    </div>
                    <div class="batch-operation-item" onclick="rejectAll()">
                        全部不过
                    </div>
                </div>

                <div class="batch-operation">
                    <div class="batch-operation-save" onclick="batch_review()">
                        保存
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endifequal %}
                <input type="hidden" name="review" value="{{ review }}"/>



                <!----------------  筛选条件 ----------------->
                <div class="paddingWrap" style="background-color:#FFF;">

                    <div id="nav_div">
                    <table>
                        <tr>
                            <td>资源名称</td>
                            <td><input name="name" type="text" style="width:110px" value="{{name}}"/></td>
                            <td rowspan="3"><input class="btn btn-inverse btn-mini" type="submit" value="搜索" /></td>
                        </tr>
                        <tr>
                            <td>资源ID</td>
                            <td><input name="id" type="text" style="width:110px" value="{{id}}"/></td>
                        </tr>

                        <tr>
                            <td>频道ID</td>
                            <td><input name="channelId" type="text" style="width:110px" value="{{channelId}}"/></td>
                        </tr>
                        <tr>
                            <td>videoType</td>
                            <td><input name="videoType" type="text" style="width:110px" value="{{videoType}}"/></td>
                        </tr>
                        <tr>
                            <td>videoId</td>
                            <td><input name="videoId" type="text" style="width:110px" value="{{videoId}}"/></td>
                        </tr>
                        <tr>
                            <td>类别</td>
                            <td>
                                <select name="channelType"  style="width:110px">
                                {%for one in typeList%}
                                    <option {%ifequal one channelType %}selected{%endifequal%}>{{one}}</option>
                                {%endfor%}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>编辑ID</td>
                            <td>
                                <input name="editor" type="text" style="width:60px" value="{{editor}}"/>&nbsp;
                                <input style="margin: 0px;" type="checkbox" name="editorExists" {% if editorExists %}checked="checked" {% endif %} value="1" /> &nbsp;非空
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>mongo</td>
                            <td><textarea name="mongo" type="text" style="width:110px;height:110px;">{{mongo}}</textarea></td>
                        </tr>
                        <tr>
                            <td>在线</td>
                            <td>
                                <input type="radio" name="isOnline" value="all" {%ifequal isOnline "all" %}checked="checked" {%endifequal%} />全部
                                <input type="radio" name="isOnline" value="true" {%ifequal isOnline "true" %}checked="checked" {%endifequal%} />在线
                                <input type="radio" name="isOnline" value="false" {%ifequal isOnline "false" %}checked="checked" {%endifequal%} />不在线
                            </td>
                        </tr>
                        <tr>
                            <td>时间段</td>
                            <td>
                                <input type="text" name="startTime" value="{{startTime}}"  style="width:110px"/>至<br/>
                                <input type="text" name="endTime" value="{{endTime}}" style="width:110px"/>
                            </td>
                        </tr>
                        <tr>
                            <td>来源</td>
                            <td>
                                <input type="radio" name="source" value=""  {%ifequal source "" %}checked="checked" {%endifequal%}/>全部
                                <input type="radio" name="source" value="manual"  {%ifequal source "manual" %}checked="checked" {%endifequal%}/>人工

                                <input type="radio" name="source" value="spider"  {%ifequal source "spider" %}checked="checked" {%endifequal%}/>自动
                                <br/>
                                <input type="radio" name="source" value="weibo"  {%ifequal source "weibo" %}checked="checked" {%endifequal%}/>微博

                                <input type="radio" name="source" value="recommend"  {%ifequal source "recommend" %}checked="checked" {%endifequal%}/>推荐

                            </td>
                        </tr>
                        <tr>
                            <td>排序</td>
                            <td>
                                <input type="radio" name="sort" value=""  {%ifequal sort "" %}checked="checked" {%endifequal%}/>默认
                                <input type="radio" name="sort" value="updateTime"  {%ifequal sort "updateTime" %}checked="checked" {%endifequal%}/>更新

                                <input type="radio" name="sort" value="createTime"  {%ifequal sort "createTime" %}checked="checked" {%endifequal%}/>创建
                                <br/>
                                <input type="radio" name="sort" value="weight" {%ifequal sort "weight" %}checked="checked" {%endifequal%}/>权重
                                <input type="radio" name="sort" value="playNumber" {%ifequal sort "playNumber" %}checked="checked" {%endifequal%}/>播放
                                <input type="radio" name="sort" value="downloadNumber" {%ifequal sort "downloadNumber" %}checked="checked" {%endifequal%}/>下载
                                <br/>
                                <input type="radio" name="sort" value="invalidTime" {%ifequal sort "invalidTime" %}checked="checked" {%endifequal%}/>失效
                                <input type="radio" name="sort" value="updateTimeAsc" {%ifequal sort "updateTimeAsc" %}checked="checked" {%endifequal%}/>更升
                            </td>
                        </tr>
                        <tr>
                            <td>第<input type="text" name="page" value="{{page}}"/>页</td>
                            <td>每页<input type="text" name="len" value="{{len}}"/>条/({{findNum}})</td>
                            <td><input class="btn btn-inverse btn-mini" type="submit" value="转到"/></td>
                        </tr>
                        <tr>
                            <td><a onclick="goPage(1)" >首页</a></td>
                            <td><a onclick="goPage({{prePage}})">上一页</a></td>
                            <td><a onclick="goPage({{nextPage}})">下一页</a></td>
                        </tr>
                    </table>
                    </div>

              </div>
              </form>
            </div>
		</div>
	</div>
<!-- Modal -->
<form action="/resource/pushResource">
    <div id="pushModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">发送Push</h3>
      </div>
      <div class="modal-body">
        <p>视频：<span id="pushResourceName"></span></p>
        <input name="pushResourceId" type="text" />
        <p>内容:</p>
        <input name="pushTitle" type="text" style="width: 350px;"/><br/>
        <textarea name="pushContent" style="width: 350px;height: 120px;"></textarea><br/>

        <div id="datetimepicker1" class="input-append">
            定时发送:
            <input data-format="yyyy/MM/dd hh:mm:ss" name="cronTime" type="text" />
            <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>(立即发送请留空)
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary">发送</button>
      </div>
    </div>
</form>
</body>
</html>
