<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%if update%}更新{%else%}创建新{%endif%}资源</title>
<link href="/static/css/tagUpdate.css" rel="stylesheet"
	type="text/css" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/searchChannel.css" rel="stylesheet" type="text/css" />

<!--<script src="/static/js/jquery-1.7.1.js"></script>-->
<script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/resourceUpdate.js"></script>
<script src="/static/js/searchChannel.js"></script>
<script src="/static/js/common.js"></script>

</head>

<body style="background-color: #CCC;">
	{% include "nav.htm" %}
	<div class="container">
		{% ifnotequal info "" %}
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="alert {{info_class}}">{{info|safe}}</div>
			</div>
		</div>
		{%endifnotequal%}
		<div class="row-fluid smallFont">
			<!--  左部分  -->
			<div class="span8 offset2 whitepanel">
				<form class="form-horizontal baseinfo" method="post" enctype="multipart/form-data"
					onsubmit="return onSubmit()">
					<!-- 左基本 -->
					<div class="row-fluid">
						<input type="hidden" name="id" value="{{id}}" />
						<table class="mainTable">
							<tr>
								<td style="width: 100px">资源名称<br/>
                                    还剩<span style="font-family: Constantia, Georgia;font-size: 22px;" id="resourceNameLeft">x</span>字
                                </td>
								<td><textarea name="resourceName" style="width:330px;"
                                              oninput="checkTextLength()">{{resourceName}}</textarea>
                                    集数：<input type="text" class="input-small" name="number" value="{{number}}"/>
                                </td>
							</tr>
							<tr>
		                        <td>视频封面</td>
			                    <td>
			                        <img src="{{resourceImageUrl}}" style="display:block;" />
			                        <input type="file"  name="resourceImage" onchange="onImageChange(this)"/>
			                    </td>
			                </tr>
                            <tr>
		                        <td>视频封面2</td>
			                    <td>
			                        <img src="{{resourceImageUrl2}}" style="display:block;" />
			                        <input type="file"  name="resourceImage2" onchange="onImageChange(this)"/>
			                    </td>
			                </tr>
                            <tr>
			                	<td>截图状态</td>
			                    <td>
			                        {{snapshot}}
			                    </td>
			                </tr>
                            <tr>
								<td style="width: 100px">副标题</td>
								<td><input type="text" class="input-xlarge" name="subtitle"
									value="{{subtitle}}" />
                                </td>
							</tr>
                            <tr>
								<td style="width: 100px">推荐理由</td>
								<td><input type="text" class="input-xlarge" name="recReason"
									value="{{recReason}}" />
                                </td>
							</tr>
							<tr>
                                <td style="width: 100px">视频页面地址</td>
                                <td>
                                	<input id="videoURL" name="resourceUrl" type="text" class="input-xlarge" value="{{resourceUrl}}" />
                                	<input type="button" class="btn btn-primary" value="检测" onclick="queryVideoId()"/>
                                </td>
                            </tr>
							<tr>
                                <td style="width: 100px">videoType</td>
                                <td><input type="text" class="input-xlarge" name="videoType"
                                    value="{{videoType}}" />
                                    <a  onclick="openGetVideoUrl()" >检测视频地址</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">videoId</td>
                                <td><input type="text" class="input-xlarge" name="videoId"
                                    value="{{videoId}}" />
                                    <!--
                                 	<a target="_blank" class="btn btn-primary" href="http://weiweimeishi.lx.coop.kukuplay.com/{{videoId}}" >请求</a>-->
                                    <a target="_blank" class="btn btn-primary" href="http://weiweimeishi.lx.coop.kukuplay.com/{{videoId}}">请求</a>
                                 	<a target="_blank" class="btn btn-primary" href="http://video.weiweimeishi.com/{{videoId}}" >本地</a>
                                 	<!--  <a  class="btn btn-primary" onclick="" >请求CDN</a>-->
                                	
                                </td>
                            </tr>
							<tr>
                                <td style="width: 100px">频道ID</td>
                                <td><input type="text" class="input-xlarge" name="channelId"
                                    value="{{channelId}}" />
                                    <a id="channelName" href="/channel/update?id={{channelObId}}">{{channelName}}</a>
                                    {%  include "_searchChannel.htm" %}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">视频时长(s)</td>
                                <td><input type="text" class="input-medium" name="duration"
                                    value="{{duration}}" />
                                    <input type="text" class="input-small" id="secondBox" /><a class="btn btn-primary" onclick="calcSeconds()">分转秒</a>
                                    </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">视频尺寸(Bytes)</td>
                                <td><input type="text" class="input-xlarge" name="resourceSize"
                                    value="{{resourceSize}}" /></td>
                            </tr>
                            <tr>
                                <td style="width: 100px">资源标签</td>
                                <td>
                                    <textarea name="tagList">{{tagList}}</textarea>
                                    <span>注：可从视频标题本身、演员、导演、特色、属性、类别各方面打标签；主要为名词或动名词；至少打三个标签，鼓励更多；每个用逗号隔开</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">权重</td>
                                <td><input type="text" class="input-xlarge" name="weight"
                                    value="{{weight}}" /></td>
							<tr>
								<td>发布时间</td>
								<td>
									<div class="input-append">
										<input type="text" class="span10" name="createTime"
											value="{{createTime}}" />
										<!--  <a class="btn btn-primary active" data-toggle="button" onclick="toggleCreateTime(this)">使用当前时间</a> -->
									</div>
								</td>
							</tr>
                            <tr>
								<td>updateTime</td>
								<td>
									<div class="input-append">
										<input type="text" class="span10" name="updateTime"
											value="{{updateTime}}" />
										<!--  <a class="btn btn-primary active" data-toggle="button" onclick="toggleCreateTime(this)">使用当前时间</a> -->
									</div>
								</td>
							</tr>
                            <tr>
                                <td>定时上线</td>
                                <td>
                                    <div id="datetimepicker1" class="input-append">
                                            <input data-format="yyyy/MM/dd hh:mm:ss" name="scheduleGoOnline" type="text" value="{{scheduleGoOnline}}"/>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                    </div>
                                </td>
                            </tr>
							<tr>
								<td>修改时间</td>
								<td>{{modifyTime}} <!-- <input type="text" class="span7" name="modifyTime"  value="{{modifyTime}}" disabled/> -->
								</td>
							</tr>
                            <tr>
	                        	<td>清晰度</td>
	                        	<td>
	                        		<select name="resolution"  style="width:90px">
	                        		<option>-1</option>
	                        		<option {% ifequal resolution 0 %}selected="selected"{% endifequal %}>0</option>
                                    <option {% ifequal resolution 1 %}selected="selected"{% endifequal %}>1</option>
                                    <option {% ifequal resolution 2 %}selected="selected"{% endifequal %}>2</option>
                                    <option {% ifequal resolution 3 %}selected="selected"{% endifequal %}>3</option>
                                    <option {% ifequal resolution 4 %}selected="selected"{% endifequal %}>4</option>
	                        		</select>
                                 <span>0:流畅， 1:标清， 2:高清 3:超清 4:原画</span>
	                        	</td>

	                        </tr>
                            <tr>
	                        	<td>LD</td>
	                        	<td>
	                        		<select name="isLD"  style="width:90px">
	                        			<option>是</option>
	                        			<option {% if not isLD %}selected="selected"{% endif %}>否</option>
	                        		</select>
	                        	</td>
	                        </tr>
							<tr>
	                        	<td>已上线</td>
	                        	<td>
	                        		<select name="isOnline"  style="width:90px">
	                        			<option>是</option>
	                        			<option {% if not isOnline %}selected="selected"{% endif %}>否</option>
	                        		</select>
	                        	</td>
	                        </tr>
                            <tr>
                                <td>推荐到Feed</td>
                                <td>
                                    <select name="isRecommend"  style="width:90px">
                                        <option>是</option>
                                        <option {% if not isRecommend %}selected="selected"{% endif %}>否</option>
                                    </select>
                                </td>
                            </tr>
						</table>
					</div>
					<!-- 左正文 -->
					
					<!-- 左保存 -->
					<div class="row-fluid">
						<div class="span12">
							<div class="form-actions">

								<button type="submit" class="btn btn-primary">
								{%if update%}保存更改{%else%}创建新资源{%endif%}
								</button>
								<button class="btn">取消</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!--  右部分  -->
			<div class="span3">
				
			</div>
		</div>
	</div>
</body>
</html>
