<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类统计</title>

<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/css/statisticsCategory.css" rel="stylesheet" type="text/css" />


<!--<script src="/static/js/jquery-1.8.3.min.js"></script>-->
<script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/statisticsCategory.js"></script>
<!-- zencode 快捷键 ctrl opt enter  -->
</head>
<body style="background-color:#FFF;">
    {% include "nav.htm" %}
    <div class="">
        <div class="row-fluid">
            <div class="span12" style="background-color:#FFF;">

			     <div class="row-fluid" id="nav">

                        <form>
                            <div class="well">
                            <table>
                                <tr>
                                    <td>时间区间:</td>
                                    <td>
                                        <span>开始时间</span>
                                    </td>
                                    <td>
                                        <div id="datetimepicker1" class="input-append date" >
                                            <input data-format="yyyy/MM/dd" name="startDate" type="text" value="{{startDate}}"></input>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span>结束时间</span>
                                    </td>
                                    <td>
                                        <div id="datetimepicker2" class="input-append">
                                            <input data-format="yyyy/MM/dd" name="endDate" type="text" value="{{endDate}}"/>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td rowspan="2">
                                        <input type="submit" value="查询">
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </form>
                </div>
                <div>* 下载数/播放数 [播放失败数]</div>
                <div class="row-fluid" id="content">
                    <table>
                        <tr>
                            <th rowspan="4" colspan="1">类别\统计</th>
                            <th rowspan="3" colspan="3">在线播放</th>
                            <th rowspan="1" colspan="8">离线播放</th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="6">下载</th>
                            <th rowspan="2" colspan="2">本地播放</th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="3">自动下载</th>
                            <th rowspan="1" colspan="3">手动下载</th>
                        </tr>
                        <tr>
                            <th>获取地址失败</th>
                            <th>播放失败</th>
                            <th>播放成功</th>
                            <th>获取地址失败</th>
                            <th>下载失败</th>
                            <th>下载成功</th>
                            <th>获取地址失败</th>
                            <th>下载失败</th>
                            <th>下载成功</th>
                            <th>播放失败</th>
                            <th>播放成功</th>
                        </tr>
                        {% for item in sortedResult %}
                            <tr>
                                <td>{{ item.category.categoryName }}</td>
                                <td>{{ item.data.30010 }}</td>
                                <td>{{ item.data.30009 }}</td>
                                <td>{{ item.data.30008 }}</td>
                                <td>{{ item.data.30005 }}</td>
                                <td>{{ item.data.30001 }}</td>
                                <td>{{ item.data.30000 }}</td>
                                <td>{{ item.data.30004 }}</td>
                                <td>{{ item.data.30003 }}</td>
                                <td>{{ item.data.30002 }}</td>
                                <td>{{ item.data.30007 }}</td>
                                <td>{{ item.data.30006 }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
		</div>
	</div>
</body>
</html>
