<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <link href="/static/css/tagUpdate.css" rel="stylesheet"
          type="text/css" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery-1.7.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/Chart.js"></script>
</head>

<script type="text/javascript">
    var labels = eval('({{ daySequeue|safe }})');
    var datas = eval('({{ statistics|safe }})');
    $('document').ready(function(){
        var ctx = $(".myChart")[0].getContext("2d");
        var data = {
        labels : labels,
        datasets : [
            {
                fillColor : "rgba(41,43,54,0.5)",
                strokeColor : "rgba(41,43,54,1)",
                pointColor : "rgba(41,43,54,1)",
                pointStrokeColor : "#fff",
                data : datas[1]
            },
            {
                fillColor : "rgba(7,89,156,0.5)",
                strokeColor : "rgba(7,89,156,1)",
                pointColor : "rgba(7,89,156,1)",
                pointStrokeColor : "#fff",
                pointStrokeColor : "#fff",
                data : datas[0]
            }
        ]
        };
        var myNewChart = new Chart(ctx).Line(data);

    });
</script>


<body style="background-color: #CCC;">
{% include "nav.htm" %}
<div class="container">
    {% ifnotequal info "" %}
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="alert {{info_class}}">{{info|safe}}</div>
            </div>
        </div>
    {%endifnotequal%}
    <div class="row-fluid smallFont">
        <!--  左部分  -->
        <div class="span12 whitepanel">
            {% ifequal request.path "/user/index" %}
            <div class="row-fluid">
                <div class="span12">
                    <div>
                        <h2>{{ name }}</h2>
                    </div>
                    <div>
                        <span>上次登录时间：{{ lastLoginTime }}</span>
                    </div>
                </div>
            </div>
            {% endifequal %}

            <fieldset>
                <div id="legend" class="">
                    <legend class="">最近添加的视频(<a href="/resource/index?editor={{ uid }}">全部:{{ resourceNum }})</a></legend>
                </div>
                <div>
                    <ul>
                    {% for resource in resourceList %}
                        <li>
                            <a href="/resource/index?id={{ resource.id }}">{{ resource.resourceName }}</a>
                            <span class="label label-info">播{{resource.playNumber}}/下{{resource.downloadNumber}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <div id="legend" class="">
                    <legend class="">最近播放量</legend>
                </div>
                <div>
                    <canvas class="myChart" width="900" height="400"></canvas>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>
