<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <link href="/static/css/tagUpdate.css" rel="stylesheet"
          type="text/css" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/Chart.js"></script>
    <script src="/static/js/userIndex.js"></script>
</head>
{% load formatHumanTime %}
<script type="text/javascript">
    var labels = eval('({{ labels|safe }})');
    var s_sum = eval('({{ s_sum|safe }})');
    var s_channel = eval('({{ s_channel|safe }})');
    var channelList = eval('({{ channelListStr|safe }})');


</script>


<body style="background-color: #CCC;">
{% include "nav.htm" %}
<div class="container">
    {% ifnotequal info "" %}
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="alert {{info_class}}">{{info|safe}}</div>
            </div>
        </div>
    {%endifnotequal%}
    <div class="row-fluid smallFont">
        <!--  左部分  -->
        <div class="span12 whitepanel">
            {% ifequal request.path "/user/index" %}
            <div class="row-fluid">
                <div class="span12">
                    <div>
                        <h2>{{ name }}</h2>
                    </div>
                    <div>
                        <span>上次登录时间：{{ lastLoginTime|formatHumanTime }}</span>
                    </div>
                </div>
            </div>
            {% endifequal %}
            <div class="row-fluid" id="nav">

                <form>
                    <div class="well">
                    <table>
                        <tr>
                            <td>时间区间:</td>
                            <td>
                                <span>开始时间</span>
                            </td>
                            <td>
                                <div id="datetimepicker1" class="input-append date" >
                                    <input data-format="yyyy/MM/dd" name="startDate" type="text" value="{{startDate}}"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span>结束时间</span>
                            </td>
                            <td>
                                <div id="datetimepicker2" class="input-append">
                                    <input data-format="yyyy/MM/dd" name="endDate" type="text" value="{{endDate}}"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </td>
                            <td >
                               <select>
                                   <option>天</option>
                                   <option>周</option>
                                   <option>月</option>
                               </select>
                            </td>
                            <td >
                                <input type="submit" value="查询">
                            </td>
                        </tr>

                    </table>
                    </div>
                </form>
        </div>

            <fieldset>
                <div id="legend" class="">
                    <legend class="">最近添加的视频(<a href="/resource/index?editor={{ uid }}">全部:{{ resourceNum }})</a></legend>
                </div>
                <div>
                    <ul>
                    {% for resource in resourceList %}
                        <li>
                            <a href="/resource/index?id={{ resource.id }}">{{ resource.resourceName }}</a>
                            <span class="label label-info">播{{resource.playNumber}}/下{{resource.downloadNumber}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <div id="legend" class="">
                    <legend class="">最近播放量({{ startDate }}-{{ endDate }} 新增：{{ newNum }}个 平均播放：{{averagePlay}}次/个）</legend>
                </div>
                <div>
                    <canvas id="myChart" width="900" height="400"></canvas>
                </div>
            </fieldset>

            <fieldset>
                <div id="legend" class="">
                    <legend class="">频道播放量  手动+自动 ({{ startDate }}-{{ endDate }})</legend>
                </div>
                <table  class="table table-bordered">
                    <tr>
                        <th>频道</th>
                        <th>播放</th>
                        <th>下载</th>
                        <th>操作</th>
                    </tr>

                    {% for channel in channelList %}
                    <tr class="{{ channel.channelId }} channelSS">
                        <td>
                            <a href="/channel/index?channelId={{ channel.channelId }}">{{ channel.channelName }} </a>
                        </td>
                        <td>
                            <span class="play"></span>
                        </td>
                        <td>
                            <span class="download"></span>
                        </td>

                        <td>
                            <a class="label label-important" onclick="showCanvas(this)"><i class="icon-chevron-down icon-white"></i>显示曲线图</a>
                            <a class="label label-primary" href="/statistics2/channel?channelIdList={{ channel.channelId }}">详细统计</a>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="4">
                            <canvas class="channelStatistic hidden" width="900" height="400"></canvas>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>
            <div style="height: 100px;"></div>
        </div>
    </div>
</div>
</body>
</html>
