<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <link href="/static/css/tagUpdate.css" rel="stylesheet"
          type="text/css" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.1.8.3.cdn.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/Chart.js"></script>
    <script src="/static/js/userIndex.js"></script>
</head>
{% load formatHumanTime %}
<script type="text/javascript">
    var labels = eval('({{ labels|safe }})');
    var s_sum = eval('({{ s_sum|safe }})');
    var channelList = eval('({{ channelListStr|safe }})');

    var s_create_sum = eval('({{ s_create_sum|safe }})');

</script>


<body style="background-color: #CCC;">
{% include "nav.htm" %}
<div class="container">
    {% ifnotequal info "" %}
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="alert {{info_class}}">{{info|safe}}</div>
            </div>
        </div>
    {%endifnotequal%}
    <div class="row-fluid smallFont">
        <!--  左部分  -->
        <div class="span12 whitepanel">
            {% ifequal request.path "/user/index" %}
            <div class="row-fluid">
                <div class="span12">
                    <div>
                        <h2>{{ name }}</h2>
                    </div>
                    <div>
                        <span>上次登录时间：{{ lastLoginTime|formatHumanTime }}</span>
                    </div>
                </div>
            </div>
            {% endifequal %}
            <div class="row-fluid" id="nav">

                <form>
                    <input name="id" type="hidden" value="{{ uid }}"/>
                    <div class="well">
                    <table>
                        <tr>
                            <td>时间区间:</td>
                            <td>
                                <span>开始时间</span>
                            </td>
                            <td>
                                <div id="datetimepicker1" class="input-append date" >
                                    <input data-format="yyyy/MM/dd" name="startDate" type="text" value="{{startDate}}"/>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span>结束时间</span>
                            </td>
                            <td>
                                <div id="datetimepicker2" class="input-append">
                                    <input data-format="yyyy/MM/dd" name="endDate" type="text" value="{{endDate}}" />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </td>
                            <td >
                               <select>
                                   <option>天</option>
                                   <option>周</option>
                                   <option>月</option>
                               </select>
                            </td>
                            <td >
                                <input type="submit" value="查询">
                            </td>
                        </tr>

                    </table>
                    </div>
                </form>
        </div>

            <fieldset>
                <div id="legend" class="">
                    <legend class="">
                        <a href="#" data-toggle="tooltip"  data-title="指定时间范围内新增的视频">新增视频</a>
                        ({{ startDate|slice:"5:" }}—{{ endDate|slice:"5:" }}) 合计：
                        <a href="/resource/index?editor={{ uid }}">{{ newNum }}个</a>
                        <small>
                        ( <a href="/resource/index?source=manual&editor={{ uid }}">人工 {{ newManualNum }} </a>/
                         <a href="/resource/index?source=spider&editor={{ uid }}">自动 {{ newSpiderNum }}</a> )
                        </small>

                    </legend>
                </div>
                <div>
                    <canvas id="createStatistics" width="900" height="400"></canvas>
                </div>
            </fieldset>
            <fieldset>
                <div id="legend" class="">
                    <legend class="">
                        <a href="#" data-toggle="tooltip"  data-title="指定时间范围内新增的视频的播放量">新增播放</a>
                        ({{ startDate|slice:"5:" }}—{{ endDate|slice:"5:" }})
                        合计：{{ sumNum.3 }}次<small>(人工{{ sumNum.4 }},爬虫{{ sumNum.5 }})</small>,
                        平均播放：{{sumNumAverage.3}}次/个<small>(人工{{ sumNumAverage.4 }},爬虫{{ sumNumAverage.5 }})</small>
                    </legend>
                </div>
                <div>
                    <canvas id="playStatistics" width="900" height="400"></canvas>
                </div>
            </fieldset>
            <fieldset>
                <div id="legend" class="">
                    <legend class="">
                        <a href="#" data-toggle="tooltip"  data-title="指定时间范围内新增的视频的下载量">新增下载</a>
                        ({{ startDate|slice:"5:" }}—{{ endDate|slice:"5:" }})
                        合计：{{ sumNum.0 }}次<small>(人工{{ sumNum.1 }},爬虫{{ sumNum.2 }})</small>,
                        平均下载：{{sumNumAverage.0}}次/个<small>(人工{{ sumNumAverage.1 }},爬虫{{ sumNumAverage.2 }})</small>
                    </legend>
                </div>
                <div>
                    <canvas id="downStatistics" width="900" height="400"></canvas>
                </div>
            </fieldset>

            <fieldset id="channelStatistic">
                <div id="legend" class="">
                    <legend class="">频道播放 ({{ startDate|slice:"5:"  }}—{{ endDate|slice:"5:"  }})
                        <button class="btn btn-primary btn-small" onclick="toggleChannel(this)">全部展开</button>
                    </legend>
                </div>
                <table  class="table table-bordered">
                    <tr>
                        <th>频道</th>
                        <th>播放</th>
                        <th>下载</th>
                        <th>新增</th>
                        <th>操作</th>
                    </tr>

                    {% for channel in channelList %}
                    <tr class="{{ channel.channelId }} channelSS">
                        <td>
                            <a href="/channel/index?channelId={{ channel.channelId }}">{{ channel.channelName }} </a>
                        </td>
                        <td>
                             {{ channel.play }}<small>（人工：{{ channel.sum.2 }}，爬虫：{{ channel.sum.3 }}）</small>
                        </td>
                        <td>
                             {{ channel.download }}<small>（人工：{{ channel.sum.0 }}，爬虫：{{ channel.sum.1 }}）</small>
                        </td>
                        <td>
                             {{ channel.newNum }}(人工：{{ channel.resourceManualNum }},爬虫：{{ channel.resourceSpiderNum }})
                        </td>

                        <td>
                            <a class="label label-important" onclick="showCanvas(this)"><i class="icon-chevron-down icon-white"></i>显示曲线图</a>
                            <a class="label label-primary" href="/statistics2/channel?channelIdList={{ channel.channelId }}">详细统计</a>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="5">
                            <canvas class="channelStatistic hidden" width="900" height="400"></canvas>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>
            <div style="height: 100px;"></div>
        </div>
    </div>
</div>
</body>
</html>
