body
{
    background-color: rgb(238,238,238);
    font-size: 12px;
    /* 禁止自动调整*/
    -webkit-text-size-adjust: none;
}

#top,#content,#button,#indent
{
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #CCC;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

#top img
{
    width:100%;
}


a:hover
{
    text-decoration: none;
}

.main-wrap
{
    width:95%;
    margin: 0 auto;
}

#top-left
{
    width: 40%;
    float: left;
}
/*
#top-right
{
    margin-left: 5%;
    width: 50%;
    float: left;
    position: relative;
}*/

#logo
{
    width: 40%;
    float: left;
    margin-left:5%;
    margin-top: 5%;
}

#appTitle
{
    width:65%;
    float: left;
    margin-left: 10%;
}
#title
{
    font-size: 200%;
    margin-top: 10px;
}

#subtitle
{
    font-size: 100%;
    margin-top: 5px;
}

#buttondiv
{
    width: 45%;
    bottom: 20px;
    right : 10%;
    position: absolute;

}

#download-button1
{
    clear: both;
    display: block;
}



#resourceName
{
    font-size: 200%;
    width: 100%;
}

#stars{
    float:right;
}

#video
{
    position: relative;
}

#videoSnapshot
{
    width: 100%;
}

#player_button
{
    width:20%;
    position: absolute;
    top:40%;
    left:40%;
}

#detailTable
{
    width: 100%;
}

#indent
{
    text-indent: 2em;
}

#button
{
    text-align: center;
    color: #777;
    vertical-align: baseline;
    font-size: 150%;
    padding-top: 20px;
}

#button a
{
    margin-top: 20px;
}

#button img
{
    margin-top:20px;
    width: 100%;
    vertical-align: baseline;
}

