*
{
    padding: 0px;
    margin: 0px;
}
body
{
    background-color: #f9f9f9;
    font-size: 12px;
    /* 禁止自动调整*/
    -webkit-text-size-adjust: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}

li
{
    list-style: none;
    margin-top: 5px;
}

#header
{
    width: 100%;
    border-top: 4px solid #01B0BC;
    background-color: #F0F0F0;
    zoom: 1;
}
#header
{
    width: 100%;
    zoom: 1;
}

#header-logo
{
   position: relative;
}
#header-logo img
{
    width: 50%;
}

.middle
{
    margin: 0px 10px;
    zoom: 1;
}

.content
{
    position: relative;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px 5px;
    background: #fff;
    border: #e1e1e1 1px solid;
    border-top: 0;
    box-shadow: rgba(0,0,0,.2) 0 3px 5px;
}
#video
{
    position: relative;
    witdh:100%;
}

#video #player_button {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 40%;
}

#video #videoSnapshot
{
    width: 100%;
}

#detailTable
{
    margin-top: 10px;
    font-size: 13px;
}

#detailTable td
{
    padding-top: 5px;
}

element.style {
opacity: 1;
}
.mv_btn a.mv_download {
color: #fff;
text-shadow: #739d2d 0 -1px 1px;
border-color: #6c9a24 #648c1e #5d801a #679020;
background-image: -webkit-linear-gradient(top,#90b93f,#74a52f);
box-shadow: #a1cf42 0 1px 0 inset;
}
.btn
{
    height: 31px;
    line-height: 31px;
    color: #FFF;
    font-weight: bold;
    font-size: .875em;
    text-decoration: none;
    border: #6c9a24 1px solid;
    border-radius: 3px;
    text-align: center;
    min-width: 68px;
    margin-top: 4%;
    background-color: #74a52f;
    float: right;
    padding: 0 3px;
    background-image: -webkit-linear-gradient(top,#90b93f,#74a52f);
}



/*=======================*/
.browser-tips {
position: fixed;
top: 0;
left: 0;
width: 100%;
}

.browser-tips-content {
position: relative;
z-index: 1;
margin: 0 10px;
padding: 5px;
background-color: #fff;
border-radius: 0 0 5px 5px;
}
.browser-tips-content label {
position: relative;
z-index: 1;
padding: 0 6px;
line-height: 42px;
background-color: #fff;
font-size: 15px;
}
.browser-tips-content .font-attention {
color: #f34028;
}

.browser-tips-content .line-with-bg {
display: block;
background-color: #d7eaf6;
border-radius: 2px;
}

.browser-tips-content .tips-arrow {
position: absolute;
top: 0;
right: 20px;
width: 30px;
height: 30px;
background: url("/static/img/share/wechat_tips_arrow_v2.png") no-repeat right top;
background-size: 30px 30px;
}

.browser-tips-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 39, 42, .8);
}