body
{
    background-color: rgb(238,238,238);
}

#top,#content,#button
{
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #CCC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

#top img
{
    width:100%;
}


a:hover
{
    text-decoration: none;
}

.main-wrap
{
    width:80%;
    margin: 0 auto;
}

#top-left
{
    width: 40%;
    float: left;
}

#top-right
{
    margin-left: 5%;
    width: 50%;
    float: left;
    position: relative;
}

#logo
{
    width: 25%;
    float: left;
}

#appTitle
{
    width:65%;
    float: left;
    margin-left: 10%;
}
#title
{
    font-size: 20px;
    margin-top: 10px;
}

#subtitle
{
    font-size: 11px;
    margin-top: 5px;
}

#buttondiv
{
    position: relative;
    bottom: 0;

}

#download-button1
{
    margin-top: 30px;
    border-radius: 6px;
    background-color: rgb(29,90,123);
    border: solid 1px ;
    clear: both;
    display: block;
    text-align: center;
    padding-top: 4px ;
    padding-bottom: 4px;
    color: #FFF;
    min-height: 40px;
    line-height: 40px;
    font-size: 20px;
    
}



#resourceName
{
    font-size: 40px;
}

.indent
{
    text-indent: 2em;
}

#button
{
    text-align: center;
    color: #777;
}

#button a
{
    display: block;
    border-radius: 8px;
    background-color: rgb(29,90,123);
    border: solid 1px ;
    color: #FFF;
    
    font-size: 30px;
    padding: 10px;
}

